<div class="row my-3">
    <div class="col-9">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <input [(ngModel)]="product.label" type="text" id="label" class="form-control" placeholder="Lable">
                
            </div>
            <div class="col-auto">
                <input [(ngModel)]="product.quantity" type="number" id="quantity" class="form-control" placeholder="Quantity">

            </div>
            <div class="col-auto">
                <button (click)="addProduct()" class="btn btn-info">Add</button>

            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
<div class="row my-3">
    <div class="col-md-6">
        <app-charts [data]="products" my-id="chart1" my-type="bar"></app-charts>
    </div>
    <div class="col-md-6">
        <app-charts [data]="products" my-id="chart2" my-type="pie"></app-charts>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-charts [data]="products" my-id="chart3" my-type="line"></app-charts>
    </div>
</div>